@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
    font-family: sp-font;
    src: url(../font/southpark.ttf);
}

:root {
    --main-font: 'Roboto', sans-serif;

}

.body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: var(--main-font);
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    border-radius: 10px;
    background-color: #000;
    width: .6rem;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #ffcc00;
}

.header {
    position: sticky;
    top: 0;
    height: 15rem;
    background: url('../img/back1.jpg') no-repeat center/cover;
    background-position: 0 16%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 5;
}

.icon-cart-container {
    width: 6rem;
    height: 6rem;
    margin: 2rem;
    visibility: hidden;
    position: relative;
}

.icon-cart-container:hover {
    cursor: pointer;
}

.product-added {
    position: absolute;
    top: -2.5rem;
    left: -7.5rem;
    width: fit-content;
    font-size: 1.5rem;
    font-weight: 900;
    font-family: sp-font;
    text-shadow: 0 0 2px red;
}

.icon-cart {
    width: 100%;
}

.icon-cart-quantity {
    position: absolute;
    width: 1rem;
    height: 1rem;
    top: -1.5rem;
    right: .6rem;
    background-color: #ffcc00;
    padding: .3rem;
    font-size: 1rem;
    font-weight: 900;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart {
    position: absolute;
    top: 12rem;
    right: 2rem;
    background-color: #ffcc00;
    width: 25rem;
    max-height: 40rem;
    padding: 1rem;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transform: translate(50%, -50%);
    transition: .4s;
    scroll-behavior: smooth;
}

.cart-visible {
    visibility: visible;
    opacity: 1;
    transform: translate(0);
}

.cart::-webkit-scrollbar {
    background-color: #ff9d00;
    border-radius: 10px;
    width: .6rem;
}

.cart::-webkit-scrollbar-thumb {
    padding: 1rem;
    background-color: #000;
    border-radius: 10px;
}

.cart-card {
    border-bottom: .2rem solid black;
}

.cart-img {
    display: flex;
    align-items: center;

}

.cart-img img {
    width: 3rem;
    margin: 1rem;
}

.cart-img img:hover {
    animation: shake .5s infinite;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.cart-name {
    text-shadow: 1px 1px 10px #000;
}

.card-btns {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-items: center;
}

.card-btns button:hover,
.card-btns i {
    cursor: pointer;
}

.card-btns i {
    font-size: 1.5rem;
}

.cart-btn {
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cea500;
    border: 1px solid white;
    transition: .2s;
}

.cart-quantity {
    font-family: sp-font;
    font-size: 2rem;
    font-weight: 900;
}

@keyframes btnAdd {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.4);
    }
}

.card-cart-btn-inc,
.card-cart-btn-inc::first-letter {
    animation: btnAdd .2s infinite alternate;
}

.card-cart-btn-inc:hover {
    color: green;
    font-size: 1.5rem;
}

.cart-btn:hover {
    cursor: pointer;
    background-color: #ffcc00;
    transform: scale(1.3);
}

.fa-trash-can:active {
    transform: scale(1.3) rotateZ(15deg);
    color: red;
}

.cart-subtotal {
    margin: .3rem;
    font-size: 1.2rem;
    font-weight: 700;
}

.cart-total {
    margin: 0;
    font-size: 2rem;
    font-family: sp-font;
}

.cart-total total,
subtotal {
    color: red;
    font-weight: 900;
}

.cart-btns-total {
    display: flex;
    justify-content: flex-end;
}

.cart-btns-total button {
    padding: .4rem .8rem;
    margin: .5rem;
    background-color: #000;
    color: #ffcc00;
    font-size: 1rem;
}

.cart-btns-total button:hover {
    cursor: pointer;
    color: #fff;
}

.main {
    background: url('../img/back2.jpg') no-repeat center/cover;
    padding: 2rem;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, 18rem);
    gap: 1rem;
    justify-content: center;
    overflow: hidden;
}

.card-product {
    padding: 1rem;
    backdrop-filter: blur(20px);
}

.card-figure img {
    width: 100%;
    height: 15rem;
    object-fit: cover;
}

.card-figure img:hover {
    animation: shake .5s infinite;
}

.card-details {
    color: #ffcc00;
    font-size: 1.2rem;
}

.card-name {
    text-shadow: 0 0 1px #000;
}

.card-price {
    font-family: sp-font;
    font-size: 1.5rem;
    font-weight: 900;
    color: #ff9d00;
}

.card-btn-buy {
    padding: .6rem 1rem;
    background-color: #ffcc00;
    border: none;
    font-size: 1.1rem;
    transition: .3s;
}

.card-btn-buy:hover {
    background-color: #cea500;
    cursor: pointer;
}

.btn-disabled {
    background-color: gray;
    color: #ff9d00;
}

.btn-disabled:hover {
    background-color: gray;
    color: #ff9d00;
    cursor: default;
}

.checkout-container {
    background: url('../img/thanks.jpg') no-repeat center/cover;
    background-color: #ffcc00;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.checkout {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    color: #fff;
}

.back-to-home {
    background-color: #cea500;
    padding: .6rem 1rem;
    border: none;
    font-size: 1.1rem;
    transition: .3s;
}

.back-to-home:hover {
    background-color: #ddbd3a;
    cursor: pointer;
}

.footer {
    height: 10rem;
    background: url('../img/sp-footer.jpg') no-repeat center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 480px) {
    .header {
        background-size: 160%;
        background-position: -8rem -2rem;
    }

    .icon-cart-container {
        margin: .5rem;
    }

    .cart {
        width: 21rem;
        right: 1rem;
    }

    .footer p {
        font-size: 2rem;
        padding: 1rem;
    }
}