@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    font-family: 'Roboto', sans-serif;
}

.body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.cart {
    background-color: darkgray;
    display: none;
    transition: .5s;
}

.cart-total {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 4rem;
}

.cart-total p {
    font-size: 1.5rem;
    font-weight: 900;
}

.cart-total button {
    padding: .4rem .8rem;
}

.card-cart {
    margin: .5rem 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.card-cart-img {
    width: 5rem;
}

.card-cart-btns {
    display: flex;
    align-items: center;
}

.card-cart-btns p {
    margin: .5rem;
}

.main {
    padding: 1rem;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, 20rem);
    gap: 1rem;
    justify-content: center;
    align-items: flex-start;
}

.card-product {
    width: 100%;
}

.card-figure img {
    width: 100%;
    height: auto;
}

.card-btn-buy {
    padding: .4rem .8rem;
}

.header,
.footer {
    text-align: center;
}

.checkout-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.checkout {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkout img {
    width: 10rem;
    margin: 1rem;
}